

<%# <div class="create"> %>
  <%# <%= form_with model: @item, class: :createitem, local: true do |form| %> %>
      <%# <%= form.submit 'トップページに戻る', root_path,class: :createitem_form__btn %> %>
  <%# <% end %> %>
<%# </div> %>