.show__top{
  font-size: 40px;
  font-weight: bold;
  padding-top: 50px;
  text-align: center;
}

.show__link{
  font-size: 20px;
  padding-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.show__link__edit{
  display: block;
  border-radius: 5px;
  color: #ffffff;
  background-color:#0a8eaf;
  padding: 0 10px;
  text-decoration: none;
  margin-right: 10px;
}
.show__link__destroy{
  display: block;
  border-radius: 5px;
  color: #ffffff;
  background-color:#0a8eaf;
  padding: 0 10px;
  text-decoration: none;
  margin-right: 10px;
}

.show__content{
  margin-top: 50px;
}

table {
  padding: 30px;
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

tr {
  height: 60px;
  font-size: 20px;
}



.id-01{
  font-size: 20px;
  font-weight: bold;
  padding-top: 100px;
  text-align: center;
}

.id-01__input{
  width: 30%;
  // display:block;
  margin: 0 auto;
}

.id-02{
  font-size: 20px;
  font-weight: bold;
  padding-top: 30px;
  text-align: center;
}

.id-02__input{
  width: 30%;
  // display:block;
  margin: 0 auto;
}

.id-03{
  font-size: 20px;
  font-weight: bold;
  padding-top: 30px;
  text-align: center;
}

.id-03__input{
  width: 30%;
  // display:block;
  margin: 0 auto;
}

.id-04{
  font-size: 20px;
  font-weight: bold;
  padding-top: 30px;
  text-align: center;
}

.id-04__input{
  width: 30%;
  // display:block;
  margin: 0 auto;
}

.cut-value{
  width: 35%;
  display:block;
  margin: 30px auto;
  
}

.empty{
  height: 50px;
}