.content{
  padding: 40px;
  // border-bottom: 1px solid #f6f6f6;
  // display: flex;
}

table {
  padding: 30px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

tr {
  height: 60px;
  font-size: 20px;
}

