.content__title{
  font-size: 30px;
  font-weight: bold;
  padding-top: 30px;
  text-align: center;
}

.edititem{
  width: 85%;
  height: 100%;
  margin: 0 auto;
  padding-top: 40px;
}


.edititem__itemproductioncompany{
  font-size: 20px;
}
.edititem_form__itemproductioncompany{
  display: block;
  width: 90%;
  height: 40px;
  
}

.edititem__itemname{
  font-size: 20px;
  margin-top: 15px;
}
.edititem_form__itemname{
  display: block;
  width: 90%;
  height: 40px;
  
}

.edititem__width{
  font-size: 20px;
  margin-top: 15px;
}
.edititem_form__width{
  display: block;
  width: 90%;
  height: 40px;
}

.edititem__height{
  font-size: 20px;
  margin-top: 15px;
}
.edititem_form__height{
  display: block;
  width: 90%;
  height: 40px;
}

.editirem__thickness{
  font-size: 20px;
  margin-top: 15px;
}
.edititem_form__thickness{
  display: block;
  width: 90%;
  height: 40px;
}

.edititem_form__btn{
  display: block;
  width: 30%;
  margin: 45px auto;
}

.edititem__back{
  display: block;
  margin: 0 auto;
}