.content__title{
  font-size: 30px;
  font-weight: bold;
  padding-top: 30px;
  text-align: center;
}

.newitem{
  width: 85%;
  height: 100%;
  margin: 0 auto;
  padding-top: 40px;
}


.newitem__itemproductioncompany{
  font-size: 20px;
}
.newitem_form__itemproductioncompany{
  display: block;
  width: 90%;
  height: 40px;
  
}

.newitem__itemname{
  font-size: 20px;
  margin-top: 15px;
}
.newitem_form__itemname{
  display: block;
  width: 90%;
  height: 40px;
  
}

.newitem__width{
  font-size: 20px;
  margin-top: 15px;
}
.newitem_form__width{
  display: block;
  width: 90%;
  height: 40px;
}

.newitem__height{
  font-size: 20px;
  margin-top: 15px;
}
.newitem_form__height{
  display: block;
  width: 90%;
  height: 40px;
}

.newirem__thickness{
  font-size: 20px;
  margin-top: 15px;
}
.newitem_form__thickness{
  display: block;
  width: 90%;
  height: 40px;
}

.newitem_form__btn{
  display: block;
  width: 30%;
  margin: 45px auto;
}

.newitem__back{
  display: block;
  margin: 0 auto;
}